<div class="about" id="about">
    <div class="about-container">
        <div class="about-container__left">
            <div class="about-container__left--title">This is Bouncy</div>
            <div class="about-container__left--text">
                At vero eos et accusamus et iusto odio dignissimos 
                ducimus qui blanditiis praesentium voluptatum deleniti 
                atque corrupti quos dolores et quas molestias excepturi 
                sint occaecati cupiditate non provident, similique sunt 
                in culpa qui officia deserunt mollitia animi, id est 
                laborum et dolorum fuga. Et harum quidem rerum facilis 
                est et expedita distinctio. 
            </div>
            <div class="about-container__left--button">Read More</div>
        </div>
        <div class="about-container__right">
            <div class="about-container__right--slider">
                <div class="about-container__right--slider-item">
                    <img src="./images/img1.png">
                </div>
                <div class="about-container__right--slider-item">
                    <img src="./images/img2.png">
                </div>
                <div class="about-container__right--slider-item">
                    <img src="./images/img3.png">
                </div>
            </div>
        </div>
    </div>
</div>