<div class="banner">
    <div class="banner-container">
        <div class="banner-container__text">
            <div class="banner-container__text_title">IMPRESSED ?</div> 
            <div class="banner-container__text_quote">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                 blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
            </div>
            <div class="banner-container__text_author">abdullah Noman</div>  
            <div class="banner-container__text_author-position">Creatice Director, <div class="color">Code Cafe</div></div>
        </div>
        <div class="banner-container__image">
            <img src="./images/img9.png">
            <div class="banner-container__image--text">
                <div class="banner-container__image--text-column">
                    <div>We</div>
                    <div>Are</div>
                    <div class="color">Code Cafe</div>
                </div>
                
                <div class="banner-container__image--text-column">
                    <div>We <div class="color">Care</div></div>
                    <div>About</div>
                    <div><div class="color">You</div></div>
                </div>
            </div>
            <div class="banner-container__image--text">
                <div class="banner-container__image--text-b">B<div class="color">O</div>UNCY</div>
            </div>
        </div>
    </div>
</div>