<div class="featured">
    <div class="featured-container">
        <div class="featured-container__title">
            <div class="featured-container__title--top">FEATURED PROJECTS</div>
            <div class="featured-container__title--bottom">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            </div>
        </div>

        <div class="featured-container__projects">
            <div class="featured-container__projects--image">
                <div class="featured-container__projects--image-heading">VINTAGE</div>
                <img src="./images/img4.png">
            </div>
            <div class="featured-container__projects--image">
                <div class="featured-container__projects--image-heading">VINTAGE</div>
                <img src="./images/img5.png">
            </div>
            <div class="featured-container__projects--image">
                <div class="featured-container__projects--image-heading">BRANDING</div>
                <img src="./images/img6.png">
            </div>
        </div>

        <div class="featured-container__submit">
            <div class="featured-container__submit--text">At vero eos et <div class="bold">accusamus</div> et iusto odio dignissimos ducimus qui blanditiis </div>
            <div class="featured-container__submit--button">Submit Now</div>
        </div>
    </div>
</div>