<div class="get-in-touch">
    <div class="get-in-touch-container">
        <div class="get-in-touch-container__form">
            <div class="get-in-touch-container__form_inputs">
                <input type="text" class="get-in-touch-container__form_inputs--input" placeholder="Your name"></input>
                <input type="text" class="get-in-touch-container__form_inputs--input" placeholder="Email address"></input>
                <input type="text" class="get-in-touch-container__form_inputs--input" placeholder="Subject"></input>
            </div>

            <textarea class="get-in-touch-container__form_textarea"></textarea>
            <button type="submit" class="get-in-touch-container__form_button">SUBMIT NOW</button>
        </div>
    </div>
</div>