<div class="portfolio" id="portfolio">
    <div class="portfolio-container">
        <div class="portfolio-container__title">
            <div class="portfolio-container__title--top">THE PORTFOLIO</div>
            <div class="portfolio-container__title--bottom">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            </div>
        </div>

        <div class="portfolio-container__filter">
            <div class="portfolio-container__filter--buttons">
                <button type="submit" data-filter="all" class="portfolio-container__filter--buttons-item">All Works</button>
                <button type="submit" data-filter=".category-1" class="portfolio-container__filter--buttons-item">Print</button>
                <button type="submit" data-filter=".category-2" class="portfolio-container__filter--buttons-item">Identity</button>
                <button type="submit" data-filter=".category-3" class="portfolio-container__filter--buttons-item">Branding</button>
                <button type="submit" data-filter=".category-4" class="portfolio-container__filter--buttons-item">Web</button>
                <button type="submit" data-filter=".category-5" class="portfolio-container__filter--buttons-item">HTML</button>
                <button type="submit" data-filter=".category-6" class="portfolio-container__filter--buttons-item">Wordpress</button>
            </div>

            <div id="Categories" class="portfolio-container__filter_contents">
                <div class="portfolio-container__filter_contents--image mix category-1">
                    <img src="./images/img10.png">
                    <div class="portfolio-container__filter_contents--image-text">
                        <div class="text-title">Title here</div>
                        <div class="text-par">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
                    </div>
                </div>
                <div class="portfolio-container__filter_contents--image mix category-2">
                    <img src="./images/img11.png">
                    <div class="portfolio-container__filter_contents--image-text">
                        <div class="text-title">Title here</div>
                        <div class="text-par">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
                    </div>
                </div>
                <div class="portfolio-container__filter_contents--image mix category-3">
                    <img src="./images/img13.png">
                    <div class="portfolio-container__filter_contents--image-text">
                        <div class="text-title">Title here</div>
                        <div class="text-par">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
                    </div>
                </div>
                <div class="portfolio-container__filter_contents--image mix category-4">
                    <img src="./images/img13.png">
                    <div class="portfolio-container__filter_contents--image-text">
                        <div class="text-title">Title here</div>
                        <div class="text-par">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
                    </div>
                </div>
                <div class="portfolio-container__filter_contents--image mix category-5">
                    <img src="./images/img12.png">
                    <div class="portfolio-container__filter_contents--image-text">
                        <div class="text-title">Title here</div>
                        <div class="text-par">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
                    </div>
                </div>
                <div class="portfolio-container__filter_contents--image mix category-6">
                    <img src="./images/img11.png">
                    <div class="portfolio-container__filter_contents--image-text">
                        <div class="text-title">Title here</div>
                        <div class="text-par">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
                    </div>
                </div>
                <div class="portfolio-container__filter_contents--image mix category-1">
                    <img src="./images/img14.png">
                    <div class="portfolio-container__filter_contents--image-text">
                        <div class="text-title">Title here</div>
                        <div class="text-par">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
                    </div>
                </div>
                <div class="portfolio-container__filter_contents--image mix category-2">
                    <img src="./images/img14.png">
                    <div class="portfolio-container__filter_contents--image-text">
                        <div class="text-title">Title here</div>
                        <div class="text-par">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
                    </div>
                </div>
                <div class="portfolio-container__filter_contents--image mix category-4">
                    <img src="./images/img11.png">
                    <div class="portfolio-container__filter_contents--image-text">
                        <div class="text-title">Title here</div>
                        <div class="text-par">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
                    </div>
                </div>
                <div class="portfolio-container__filter_contents--image mix category-4">
                    <img src="./images/img11.png">
                    <div class="portfolio-container__filter_contents--image-text">
                        <div class="text-title">Title here</div>
                        <div class="text-par">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
                    </div>
                </div>
                <div class="portfolio-container__filter_contents--image mix category-4">
                    <img src="./images/img11.png">
                    <div class="portfolio-container__filter_contents--image-text">
                        <div class="text-title">Title here</div>
                        <div class="text-par">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
                    </div>
                </div>
                <div class="portfolio-container__filter_contents--image mix category-4">
                    <img src="./images/img14.png">
                    <div class="portfolio-container__filter_contents--image-text">
                        <div class="text-title">Title here</div>
                        <div class="text-par">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
                    </div>
                </div>
            </div>

            <div class="portfolio-container__filter_footer">
                <div class="portfolio-container__filter_footer--text">At vero eos et <div class="bold">accusamus</div> et iusto odio <div class="bold">dignissimos</div> ducimus qui blanditiis </div>
                <div class="portfolio-container__filter_footer--button">Start Project</div>
            </div>
        </div>
    </div>
</div>