<div class="price">
    <div class="price-container">
        <div class="price-container__title">
            <div class="price-container__title--top">OUR PRICE</div>
            <div class="price-container__title--bottom">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            </div>
        </div>

        <div class="price-container__cards">
            <div class="price-container__cards--item">
                <div class="price-container__cards--item_header">
                    <div class="price-container__cards--item_header-top">Premium</div>
                    <a href="#" class="price-container__cards--item_header-bottom">Let's Start</a>
                </div>
                <div class="price-container__cards--item_price">
                    <div class="price-container__cards--item_price-cost">60</div>
                    <div class="price-container__cards--item_price-duration">Per Month</div>
                </div>
                <div class="price-container__cards--item_conditions">
                    <div class="price-container__cards--item_conditions-row">Full Branding</div>
                    <div class="price-container__cards--item_conditions-row">Project Management</div>
                    <div class="price-container__cards--item_conditions-row">Unlimited Revisions</div>
                    <div class="price-container__cards--item_conditions-row">24/7 h Service</div>
                    <div class="price-container__cards--item_conditions-row">Free Domain</div>
                    <div class="price-container__cards--item_conditions-row">Free Hosting</div>
                </div>
            </div>

            <div class="price-container__cards--item">
                <div class="price-container__cards--item_header">
                    <div class="price-container__cards--item_header-top">Standart</div>
                    <a href="#" class="price-container__cards--item_header-bottom">Let's Start</a>
                </div>
                <div class="price-container__cards--item_price">
                    <div class="price-container__cards--item_price-cost">70</div>
                    <div class="price-container__cards--item_price-duration">Per Month</div>
                </div>
                <div class="price-container__cards--item_conditions">
                    <div class="price-container__cards--item_conditions-row">Full Branding</div>
                    <div class="price-container__cards--item_conditions-row">Project Management</div>
                    <div class="price-container__cards--item_conditions-row">Unlimited Revisions</div>
                    <div class="price-container__cards--item_conditions-row">24/7 h Service</div>
                    <div class="price-container__cards--item_conditions-row">Free Domain</div>
                    <div class="price-container__cards--item_conditions-row">Free Hosting</div>
                </div>
            </div>

            <div class="price-container__cards--item">
                <div class="price-container__cards--item_header">
                    <div class="price-container__cards--item_header-top">Exclusive</div>
                    <a href="#" class="price-container__cards--item_header-bottom">Let's Start</a>
                </div>
                <div class="price-container__cards--item_price">
                    <div class="price-container__cards--item_price-cost">80</div>
                    <div class="price-container__cards--item_price-duration">Per Month</div>
                </div>
                <div class="price-container__cards--item_conditions">
                    <div class="price-container__cards--item_conditions-row">Full Branding</div>
                    <div class="price-container__cards--item_conditions-row">Project Management</div>
                    <div class="price-container__cards--item_conditions-row">Unlimited Revisions</div>
                    <div class="price-container__cards--item_conditions-row">24/7 h Service</div>
                    <div class="price-container__cards--item_conditions-row">Free Domain</div>
                    <div class="price-container__cards--item_conditions-row">Free Hosting</div>
                </div>
            </div>
        </div>
    </div>
</div>