<div class="subscribe">
    <div class="subscribe-container">
        <div class="subscribe-container__title">
            <div class="subscribe-container__title--top">SUBSCRIBE US</div>
            <div class="subscribe-container__title--bottom">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            </div>
        </div>

        <div class="subscribe-container__submit-wrapper">
            <form class="subscribe-container__submit-wrapper_form">
                <input type="text" class="subscribe-container__submit-wrapper_form--email" placeholder="Email Address">
                <button type="submit" class="subscribe-container__submit-wrapper_form--button">SUBMIT</button>
            </form>
        </div>
    </div>
</div>