<div class="testimonials">
    <div class="testimonials-container">
        <div class="testimonials-container__title">
            <div class="testimonials-container__title--top">TESTIMONIALS</div>
            <div class="testimonials-container__title--bottom">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            </div>
        </div>

        <div class="testimonials-container__slider">
            <div class="testimonials-container__slider--wrapper">
                <div class="testimonials-container__slider--wrapper_slide">
                    <div class="testimonials-container__slider--wrapper_slide--image">
                        <img src="./images/img20.png">
                    </div>
    
                    <div class="testimonials-container__slider--wrapper_slide--text">
                        <div class="testimonials-text">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
                            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui 
                            officia deserunt mollitia. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
                            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui 
                            officia deserunt mollitia.
                        </div>
    
                        <div class="testimonials-author">
                            <div class="testimonials-author__top">PARTHO</div>
                            <div class="testimonials-author__bottom">FOUNDER, ARTWAYS BD</div>
                        </div>
                    </div>
                </div>
    
                <div class="testimonials-container__slider--wrapper_slide">
                    <div class="testimonials-container__slider--wrapper_slide--image">
                        <img src="./images/img20.png">
                    </div>
    
                    <div class="testimonials-container__slider--wrapper_slide--text">
                        <div class="testimonials-text">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
                            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui 
                            officia deserunt mollitia. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
                            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui 
                            officia deserunt mollitia. Voluptatum deleniti atque corrupti quos dolores et quas molestias 
                            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui 
                            officia deserunt mollitia.
                        </div>
    
                        <div class="testimonials-author">
                            <div class="testimonials-author__top">PARTHO</div>
                            <div class="testimonials-author__bottom">FOUNDER, ARTWAYS BD</div>
                        </div>
                    </div>
                </div>
    
                <div class="testimonials-container__slider--wrapper_slide">
                    <div class="testimonials-container__slider--wrapper_slide--image">
                        <img src="./images/img20.png">
                    </div>
    
                    <div class="testimonials-container__slider--wrapper_slide--text">
                        <div class="testimonials-text">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
                            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui 
                            officia
                        </div>
    
                        <div class="testimonials-author">
                            <div class="testimonials-author__top">PARTHO</div>
                            <div class="testimonials-author__bottom">FOUNDER, ARTWAYS BD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonials-container__dots">
                <li><button></button></li>
                <li><button></button></li>
                <li><button></button></li>
            </div>
        </div>
    </div>
</div>